
@import "../../App.scss";



.sidebar{
width: 200px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: rgba(255, 255, 255, 0.322);
color: black;
opacity: 100%;
@include mobile{
    z-index: 1;
}
    .bg{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 300px;
        background-color: rgb(255, 255, 255);
       @include mobile{
           width: 50%;
           
       }
    .links{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        a{
            font-size: 20px;
            font-weight: 600;
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    }
}
    button{
        position: fixed;
        width: 50px;
        height: 50px;
        top: 25px;
        left: 25px;
        border-radius: 50%;
        background-color: white;
        border: none;
        color: black;
        cursor: pointer;
    }

}